#clock {
}

#clock img {
}
#face {
  position:absolute;
  z-index: 0;
}
#hour {
  z-index: 1;
  position: absolute;
  transform:rotate(0deg);

}

#minute {
  z-index: 2;
  position: absolute;
  transform:rotate(0deg);

}

#second {
  z-index: 3;
  position: absolute;
  transform:rotate(0deg);
}
